.delivery-time-woo-white-box {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.delivery-time-woo-heading-container {
  margin-left: -25px;
  margin-top: -16px;
}
.delivery-time-woo-heading {
  background: #fff;
  padding: 20px;
}

.delivery-time-woo-form-field {
  padding: 5px 20px 5px 5px !important;
}

.delivery-time-woo-admin-label {
  float: left;
  width: 15%;
  padding: 0;
  margin: 0 0 0 0px;
}

.delivery-time-woo-form-field input[type="email"],
.delivery-time-woo-form-field input[type="number"],
.delivery-time-woo-form-field input[type="password"],
.delivery-time-woo-form-field input[type="search"],
.delivery-time-woo-form-field input[type="tel"],
.delivery-time-woo-form-field input[type="text"],
.delivery-time-woo-form-field input[type="url"],
.delivery-time-woo-form-field textarea,
.delivery-time-woo-form-field select {
  border-style: solid;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  width: 38%;
}

.delivery-time-woo-radio-input {
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.2);
}

.delivery-time-woo-checkbox-label {
  margin-left: 10px;
  margin-right: 10px;
}

.delivery-time-woo-custom-button {
  float: right;
  margin-right: 20px !important;
}

.delivery-time-woo-saved-heading {
  background: #53adcb;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 25px;
  margin-left: -25px;
  margin-top: -16px;
}

.delivery-time-woo-saved-text {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .delivery-time-woo-form-field {
    padding: 5px 0px 5px 0px !important;
  }

  .delivery-time-woo-white-box {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
